h3.notif-title {
	margin-left: 20px;
	margin-bottom: 25px;
}

h3.upload-title { padding-bottom: 15px; }

h2.project-title { 
	margin-top: 50px;
	padding: 20px; 
}

div.notif.panel div.block {
	position: relative;
	width: auto;
}

div.notif-panel > div.block > div.notif-avatar, div.info-notif, div.notif-options {
	display: inline-block;
	width: auto;
}

div.notif-panel > div.block > div.notif-avatar, div.info-notif { padding: 10px; }

div.notif-panel > div.block > div.notif-avatar { 
	float: left; 
	margin-top: 0px;
}

div.notif-panel > div.block > div.notif-options { 
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

div.notif-panel > div.block > div.notif-message { 
	margin-top: 10px;
	margin-left: 15px;
}

div.row-info { padding: 20px; }

img.profile-img { 
	margin-top: 15px;
	margin-left: 25px;
	max-width: 50px; 
	float: left; 
}

img.profile-img, h1.user-name { display: inline-block; }

h1.user-name { padding-left: 25px; }

div.user-info { margin-top: 25px; }

div.details > a.agence { padding-left: 15px; } 

div.details > a.agence-notif { float: right; }
