h3.notif-title {
	margin-left: 20px;
	margin-bottom: 25px;
}

h3.upload-title { padding-bottom: 15px; }

h2.project-title { 
	margin-top: 50px;
	padding: 20px; 
}

div.notif.panel div.block {
	position: relative;
	width: auto;
}

div.notif-panel > div.block > div.notif-avatar, div.info-notif, div.notif-options {
	display: inline-block;
	width: auto;
}

div.notif-panel > div.block > div.notif-avatar, div.info-notif { padding: 10px; }

div.notif-panel > div.block > div.notif-avatar { 
	float: left; 
	margin-top: 0px;
}

div.notif-panel > div.block > div.notif-options { 
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

div.notif-panel > div.block > div.notif-message { 
	margin-top: 10px;
	margin-left: 15px;
}

div.row-info { padding: 20px; }

img.profile-img { 
	margin-top: 15px;
	margin-left: 25px;
	max-width: 50px; 
	float: left; 
}

img.profile-img, h1.user-name { display: inline-block; }

h1.user-name { padding-left: 25px; }

div.user-info { margin-top: 25px; }

div.details > a.agence { padding-left: 15px; } 

div.details > a.agence-notif { float: right; }

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.profile-content a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  margin-top: 15px;
}

span.coming {
	font-size: 10px;
	background: #EB272C;
	color: #fff;
	float: right;
}

div.member-panel {
  text-align: center !important;
  margin-top: 10px !important;
  min-height: 295px !important;
  max-height: 295px !important;
}

div.member-panel p.description { min-height: 120px; }

div.download { margin: 0 25px; }

.progress {
  height: 15px !important;
  margin: 25px 0 !important;
}

h3.project-title {
  font-size: 20px !important;
  margin: 10px 0 !important;
}

a.details { margin-left: 25px !important; }

div.event-panel {
  min-height: 270px;
  max-height: 270px;
}
 
div.event-panel p.description { min-height: 95px; }

#addagence {
  padding: 15px;
}

div.padding {
  padding: 15px !important;
}
